<button type="button" class="btn btn-default navbar-btn"> Sign in</button>
<p class="navbar-text">Signed as current_user</p>


<!-- Code to use for navbar once I have signin working -->

<!-- <nav class= "navbar navbar-default"> -->

<%#= if user.signed_in? %>
  <%#= render 'Signed in as #{current_user}', class: 'navbar-text' %>
<%# else %>
  <%#= link_to 'Login', new_user_session, :class 'btn btn-default navbar-btn' %>
<%# end %>
